/* Configuração inicial do viewport */
html {
  font-size: 100%; /* 1rem = 16px */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------------------< Header >------------------------------------------------------------- */

header {
  background-color: #1E1E1E;
  color: white;
  padding: 10px 0;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: #00a000;
}

.header-site-logo img {
  width: 80px;
  height: auto;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
}

.search-bar form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input {
  flex-grow: 1;
  padding-right: 40px; 
}

.icons {
  display: flex;
  gap: 10px;
}

.icons img {
  width: 40px;
  height: auto;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navbar-nav .nav-link {
  margin-right: 60px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-main-menu-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


/* Responsividade */
@media (max-width: 768px) {
  .container-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-site-logo {
    flex: 0 1 auto;
  }

  .search-bar {
    flex: 1;
    max-width: 100%; 
    margin: 0 10px;
  }

  .icons {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
  }

  /* Segundo container*/

  .second-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap; /* Garante que os itens não quebrem para uma nova linha */
    width: 100%;
  }
}
/* ------------------------------------------------------------< Main >--------------------------------------------------------------- */

/* -----------------------------------------------------------< Login >----------------------------------------------------------------*/
body main {
  background-color: #21224e;
  color: white;
  font-family: Arial, sans-serif;
  padding: 60px;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.btn-custom {
  background-color: #00a000 !important;
  color: white !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-custom img.btn-icon {
  width: 20px;
  height: 20px;
}

.btn-custom:hover {
  background-color: #007a00 !important;
}

.custom-link {
  color: #00a000 !important;
}

.custom-link:hover {
  color: #007a00 !important;
  text-decoration: underline;
}

.form-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
/* -----------------------------------------------------------< Login >----------------------------------------------------------------*/

/* -----------------------------------------------------------< Pagina principal >------------------------------------------------------*/
/* Estilização do Banner */
.home-section--banner {
  position: relative;
  margin-top: 50px; /* Espaço acima do banner */
  margin-bottom: 50px; /* Espaço abaixo do banner */
}

.home-section--banner-image {
  display: block;
  position: relative;
}

.home-section--banner-image img {
  width: 100%;
  height: auto;
}

.banner-content {
  position: absolute;
  bottom: 20px; /* Ajuste conforme necessário */
  right: 20px;  /* Ajuste conforme necessário */
  z-index: 10;
}

.banner-info {
  display: flex;
  align-items: center;
}

/* Estilização dos Produtos */
.product-info {
  display: flex; /* Usa Flexbox para alinhar itens na mesma linha */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: space-between;
  gap: 5px; /* Espaço entre os itens */
}

.product-button--text {
  font-size: 0.8rem; /* Tamanho da fonte do botão */
  font-weight: bold; /* Texto em negrito */
}

.wishlist-btn {
  display: flex; /* Usa Flexbox para alinhar itens na mesma linha */
  align-items: center; /* Alinha verticalmente ao centro */
}

/* Ícone de Favoritos */
.wishlist-btn img {
  width: 2rem; /* Largura do ícone */
  height: 2rem; /* Altura do ícone */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.wishlist-btn img:hover {
  transform: scale(1.1); /* Aumenta o ícone quando hover */
}

.product-discount__badge {
  background-color: #ff0000;
  color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: bold;
}

.product-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #0056b3;
}

/* Cards de Produtos */
.products-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  gap: 20px;
}

.product-card-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #262626;
  text-decoration: none;
  color: inherit;
  flex: 1 1 calc(10% - 15px); /* Flex-grow, flex-shrink e flex-basis para melhor controle */
  max-width: calc(20% - 10px); /* Ajuste a largura conforme necessário */
}

.product-card-wrapper a {
  text-decoration: none;
  color: inherit;
}

.single-line-name {
  white-space: nowrap;
  overflow: hidden; /* Opcional: esconde o texto que não cabe na linha */
  text-overflow: ellipsis; /* Opcional: adiciona reticências ao final do texto que não cabe */
}

.btn__primary {
  background-color: #28a745;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
}

.btn__primary:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Efeito de ampliação */
}

.product-img img {
  width: 100%;
  height: auto;
}

.product-card--content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-title {
  white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
  display: block;
  overflow: hidden; /* Oculta o texto que excede o limite */
  text-overflow: ellipsis; /* Adiciona '...' no final do texto cortado */
  font-size: 1rem;
  font-weight: bold;
  color: #fffdfd;
}

.product-discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.product-discount__price {
  color: #ffffff;
  font-size: 1rem; /* Ajuste o tamanho da fonte do preço */
  font-weight: bold;
}

/* Contêineres e Grade */
.grid-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0px 235.5px;
}

/* Cabeçalho da Dock de Produtos */
.products-dock-header {
  background-color: #21224e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.products-dock-header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-dock-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.products-dock-subtitle {
  font-size: 1.1rem;
  color: #ffffff;
  margin-top: 10px;
}

.products-dock-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Regras de Mídia para Responsividade */
@media (max-width: 1024px) {
  .product-card-wrapper {
    flex: 1 1 calc(25% - 10px); /* Quatro colunas */
    max-width: calc(25% - 10px); /* Ajuste a largura conforme necessário */
  }
}

@media (max-width: 768px) {
  .product-card-wrapper {
    flex: 1 1 calc(33.333% - 10px); /* Três colunas */
    max-width: calc(33.333% - 10px); /* Ajuste a largura conforme necessário */
  }

  .products-dock-header > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .products-dock-header > div > h2,
  .products-dock-header > div > a {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .product-card-wrapper {
    flex: 1 1 calc(20% - 5px); /* Cinco colunas */
    max-width: calc(20% - 5px); /* Ajuste a largura conforme necessário */
    margin: 0; /* Remove margens */
    padding: 5px; /* Reduz padding */
  }

  .product-title {
    font-size: 0.7rem; /* Reduz tamanho da fonte */
  }

  .product-button--text {
    font-size: 0.6rem; /* Reduz tamanho da fonte */
  }

  .product-img img {
    width: 100%;
    height: auto;
  }

  .products-dock-header > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .products-dock-header > div > h2,
  .products-dock-header > div > a {
    width: 100%;
    text-align: left;
  }
}
/* -----------------------------------------------------------< Pagina principal >------------------------------------------------------*/

/* -----------------------------------------------------------< Footer >------------------------------------------------------------- */

.Farticle-FooterSubMenu {
  width: 100%;
  background-color: #212121;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  flex-wrap: wrap;
}

.Farticle-FooterSubMenu .grid-container {
  max-width: 1200px;
  width: 100%;
}

.Farticle-FooterSubMenu .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Farticle-FooterSubMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Farticle-FooterSubMenu ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 5px;
}

.Farticle-FooterSubMenu ul li a {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

.Farticle-FooterSubMenu ul li a:hover {
  text-decoration: underline;
}

.footer h4 {
  color: #00a000;
  text-align: left;
  margin-bottom: 10px;
}

.Farticle-FooterSocial {
  background-color: #262626;
  padding: 20px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
}

footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer ul li img {
  max-width: 100px;
  height: auto;
}

footer .Cinza {
  color: #cccccc;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .Farticle-FooterSubMenu .row {
    justify-content: center;
    align-items: center;
  }

  .Farticle-FooterSubMenu .col-xs-12 {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Farticle-FooterSubMenu .col-xs-12 h4,
  .Farticle-FooterSubMenu .col-xs-12 ul {
    text-align: center;
  }
}