header{
    background-color: #1E1E1E;
    color: white;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: #00a000;
}

.header-site-logo img {
    width: 80px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; /* Adiciona espaçamento vertical */
}

.container > div {
    margin: 0 10px;
}

.search-bar {
    flex-grow: 2; /* Aumenta ainda mais o crescimento da barra de pesquisa */
    margin: 0 20px; /* Adiciona margem para espaçamento */
    min-width: 200px; /* Define uma largura mínima maior para a barra de pesquisa */
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex-grow: 1;
    margin-right: 10px;
    min-width: 200px; /* Define uma largura mínima maior para o campo de entrada */
}

.icons {
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
}

.icons img {
    width: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: auto;
}

.search-bar {
    position: relative; /* Define o contêiner como referência para posicionamento absoluto */
}

.search-bar input {
    width: 100%; /* Faz o input ocupar toda a largura disponível */
    padding-right: 40px; /* Adiciona espaço suficiente para o ícone dentro do input */
}

.search-icon {
    position: absolute;
    right: 10px; /* Ajuste a posição horizontal do ícone */
    top: 50%;
    transform: translateY(-50%); /* Centraliza o ícone verticalmente */
    cursor: pointer; /* Adiciona um cursor de ponteiro para o ícone */
}

.navbar-nav .nav-link {
    margin-right: 80px; /* Ajuste o espaçamento entre os links do menu */
}

.hearder-main-menu-button {
    display: flex;
    align-items: center;
}

/* Adiciona flexbox ao segundo container */
.second-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* --------------------------------------------------------------Footer--------------------------------------------------------------- */

.Farticle-FooterSubMenu {
    background-color: #212121;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footer h4 {
    color: #00a000;
}

.custom-gx > .col-xs-12, .custom-gx > [class*="col-"] {
    padding-top: 20px; /* Aumenta o espaçamento acima */
    padding-right: 85px; /* Aumenta o espaçamento à direita */
    padding-left: 85px; /* Aumenta o espaçamento à esquerda */
}